
html {
    background-color : rgb(75, 167, 209);
    text-align: center

}

body {
    margin: auto;
}

h1 {
    color : white;
    font-size: 60px;
}

form {
    color : white;
    box-shadow: 2px 3px 13px 1.5px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    max-width:400px;
    width: 100%;
}

input {
    margin : 10px
}